* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 2rem;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

section {
  padding: 4rem;
  max-width: 1440px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.primary-header {
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem 2rem;
  background: rgb(241, 233, 233);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 0px 5px 5px rgba(12, 12, 12, 0.2);
}
.primary-header .logo {
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
}
.primary-header .logo div:nth-child(1) h1 {
  font-size: 1.8rem;
}
.primary-header .logo div:nth-child(2) h1 {
  font-size: 1rem;
  font-weight: 400;
}
.primary-header .logo .line::before {
  content: "";
  background: rgb(203, 201, 67);
  height: 60%;
  width: 4px;
  left: 45%;
  position: absolute;
}
.primary-header .right .navigation {
  padding: 0;
  margin: 0;
  gap: 2.5rem;
}
.primary-header .right .navigation li a:hover {
  color: rgb(203, 201, 67);
}

.section1 {
  background: rgb(203, 201, 67);
  margin: 10rem auto 3rem auto;
  padding: 0 2 rem;
  width: 80vw;
  height: 50vh;
  grid-template-areas: "one two";
}
.section1 .left {
  margin-top: -10rem;
  grid-area: one;
  justify-content: center;
  align-items: center;
}
.section1 .left img {
  height: 100%;
}
.section1 .right {
  width: 80%;
  grid-area: two;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
}
.section1 .right div {
  flex-direction: column;
  gap: 0.6rem;
}
.section1 .right div .name {
  font-size: 4rem;
  font-weight: bold;
  color: white;
}
.section1 .right div .tag {
  color: white;
  font-size: 2.2rem;
}
.section1 .right button {
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 2rem;
  margin: 1rem 0;
  cursor: pointer;
  background: #000;
  color: #fff;
  font-size: 1rem;
}
.section1 .right a span i {
  color: rgb(203, 201, 67);
}

.section2 .info-container {
  margin: auto;
  padding: 2rem;
  max-width: 85%;
  min-height: 7rem;
  border: 2px solid #2a2a2a;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}
.section2 .info-container .info-lists {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.section2 .info-container .info-content .icon-container {
  width: 3rem;
  height: 3rem;
  background: rgb(203, 201, 67);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.section2 .info-container .info-content i {
  font-size: 1.4rem;
  color: white;
}
.section2 .info-container .info-content span h5 {
  letter-spacing: 2px;
}
.section2 .info-container .info-content span p {
  color: goldenrod;
}
.section2 .info-container .info-divider {
  width: 2px;
  height: 35px;
  background: grey;
}

.section3 .skills-container {
  gap: 8rem;
  justify-content: center;
}
.section3 .skills-container div {
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}
.section3 .skills-container i {
  font-size: 3rem;
}

.section4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section4 .project-container {
  width: 100%;
  padding: 3rem 2rem 0 2rem;
  gap: 2.5rem;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.section4 .project-container .project-card {
  cursor: pointer;
  flex-direction: column;
  box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.4);
}
.section4 .project-container .project-card .top img {
  width: 100%;
  height: 250px;
}
.section4 .project-container .project-card .bottom {
  margin-top: 1.2rem;
  padding: 1rem;
}
.section4 .project-container .project-card .bottom p {
  font-size: 1.3rem;
}
.section4 .project-container .project-card .bottom p:nth-child(2) {
  margin-top: 1.2rem;
  font-weight: bold;
}

.section5 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section5 .about-container {
  padding: 3rem;
}
.section5 .about-container .left {
  width: 50%;
  padding: 0 2rem;
  position: relative;
}
.section5 .about-container .left .bg {
  width: 95%;
  height: 65%;
  background: rgb(203, 201, 67);
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.section5 .about-container .left img {
  width: 100%;
}
.section5 .about-container .right {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
}
.section5 .about-container .right h1 {
  font-size: 3.5rem;
}
.section5 .about-container .right p:nth-child(2) {
  font-weight: 500;
}
.section5 .about-container .right p:nth-child(3) {
  font-weight: 300;
}
.section5 .about-container .right a {
  color: rgb(16, 57, 108);
  text-decoration: underline;
}
.section5 .about-container .right > div {
  flex-direction: column;
}
.section5 .about-container .right > div .tag {
  font-weight: 500;
}
.section5 .about-container .right > div div {
  display: flex;
  gap: 3rem;
}
.section5 .about-container .right > div span {
  padding: 0.5rem 0.7rem;
  border-radius: 0.8rem;
}
.section5 .about-container .right > div span:hover {
  cursor: pointer;
  background: rgb(241, 233, 233);
  color: #fff;
} /*# sourceMappingURL=style.css.map */
