* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

$color-yellow: rgb(203, 201, 67);
$background-bg: rgb(241, 233, 233);
$text-color: black;
$link-color: rgb(16, 57, 108);
$border-color: #2a2a2a;

//Default styles
.title {
  font-size: 2rem;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

section {
  padding: 4rem;
  max-width: 1440px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}
//Header
.primary-header {
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem 2rem;
  background: $background-bg;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 0px 5px 5px rgb(12, 12, 12, 0.2);

  .logo {
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;

    div {
      &:nth-child(1) {
        h1 {
          font-size: 1.8rem;
        }
      }

      &:nth-child(2) {
        h1 {
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }

    .line {
      &::before {
        content: "";
        background: $color-yellow;
        height: 60%;
        width: 4px;
        left: 45%;
        position: absolute;
      }
    }
  }

  .right {
    .navigation {
      padding: 0;
      margin: 0;
      gap: 2.5rem;

      li a {
        &:hover {
          color: $color-yellow;
        }
      }
    }
  }
}

//hero section

.section1 {
  background: $color-yellow;
  margin: 10rem auto 3rem auto;
  padding: 0 2 rem;
  width: 80vw;
  height: 50vh;
  grid-template-areas: "one two";

  .left {
    margin-top: -10rem;
    grid-area: one;
    justify-content: center;
    align-items: center;
    //   width: 50%;

    img {
      height: 120%;
    }
  }

  .right {
    width: 80%;
    grid-area: two;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.8rem;

    div {
      flex-direction: column;
      gap: 0.6rem;

      .name {
        font-size: 4rem;
        font-weight: bold;
        color: white;
      }

      .tag {
        color: white;
        font-size: 2.2rem;
      }
    }

    button {
      border: none;
      padding: 0.8rem 1.2rem;
      border-radius: 2rem;
      margin: 1rem 0;
      cursor: pointer;
      background: #000;
      color: #fff;
      font-size: 1rem;
    }

    a {
      span i {
        color: $color-yellow;
      }
    }
  }
}

// banner section

.section2 {
  .info-container {
    margin: auto;
    padding: 2rem;
    max-width: 85%;
    min-height: 7rem;
    border: 2px solid $border-color;
    border-radius: 100px;
    justify-content: center;
    align-items: center;

    .info-lists {
      width: 100%;
      justify-content: space-around;
      align-items: center;
    }

    .info-content {
      .icon-container {
        width: 3rem;
        height: 3rem;
        background: $color-yellow;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
      }

      i {
        font-size: 1.4rem;
        color: white;
      }

      span {
        h5 {
          letter-spacing: 2px;
        }
        p {
          color: goldenrod;
        }
      }
    }

    .info-divider {
      width: 2px;
      height: 35px;
      background: grey;
    }
  }
}

// skill section

.section3 {
  .skills-container {
    gap: 8rem;
    justify-content: center;

    div {
      flex-direction: column;
      align-items: center;
      font-weight: 700;

      //   .html {
      //     color: red;
      //   }
    }

    i {
      font-size: 3rem;

      //   .fa-html5 {
      //   }
    }
  }
}

// project section
.section4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .project-container {
    width: 100%;
    padding: 3rem 2rem 0 2rem;
    gap: 2.5rem;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    .project-card {
      cursor: pointer;
      flex-direction: column;
      box-shadow: 0 4px 12px 4px rgb(0, 0, 0, 0.4);

      .top {
        img {
          width: 100%;
          height: 250px;
        }
      }

      .bottom {
        margin-top: 1.2rem;
        padding: 1rem;

        p {
          font-size: 1.3rem;

          &:nth-child(2) {
            margin-top: 1.2rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}

// About Section
.section5 {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .about-container {
    padding: 3rem;

    .left {
      width: 50%;
      padding: 0 2rem;
      position: relative;

      .bg {
        width: 95%;
        height: 65%;
        background: $color-yellow;
        position: absolute;
        bottom: 0;
        z-index: -1;
      }
      img {
        width: 100%;
      }
    }

    .right {
      width: 50%;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      padding: 0 2rem;

      h1 {
        font-size: 3.5rem;
      }
      p {
        &:nth-child(2) {
          font-weight: 500;
        }
        &:nth-child(3) {
          font-weight: 300;
        }
      }

      a {
        color: $link-color;
        text-decoration: underline;
      }

      > div {
        flex-direction: column;

        .tag {
          font-weight: 500;
        }

        div {
          display: flex;
          gap: 3rem;
        }

        span {
          padding: 0.5rem 0.7rem;
          border-radius: 0.8rem;

          &:hover {
            cursor: pointer;
            background: rgb(241, 233, 233);
            color: #fff;
          }
        }
      }
    }
  }
}

// get in touch section

.section6 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
